.Top_Bar_Container {
  display: flex;
  text-align: end;
  align-items: flex-end;
  z-index: 20;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: white;
  position: sticky;
  height: 50px;
  top: 0;
}
.Top_Bar_Link {
  margin: auto;
  z-index: 20;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  line-height: 50px;
  text-align: end;
}
.Top_Bar_Link:hover {
  color: rgb(216, 216, 216);
  cursor: pointer;
}
